project_name = "awslab1"
environment  = "dev"

region = "ap-southeast-1"

allowed_account_ids = []
allowed_ip_ranges   = []

vpc = {
  cidr_block         = "10.10.0.0/16"
  availability_zones = ["ap-southeast-1a", "ap-southeast-1b"]
  public_subnets     = ["10.10.101.0/24", "10.10.102.0/24"]
  private_subnets    = ["10.10.1.0/24", "10.10.2.0/24"]
  one_nat_per_az     = false
}
